<section class="py-8 px-16 max-lg:px-8 max-[400px]:px-4">
  <h3 class="text-xl font-semibold">Create Customer</h3>
  <div
    class="grid grid-cols-2 gap-16 mt-20 max-md:grid-cols-1 max-md:grid-rows-[200px_auto] max-md:mt-10 max-md:gap-8"
  >
    <div class="relative flex justify-center">
      <img
        src="../../../../../assets/images/profil-lg.png"
        class="absolute rounded-full w-[80%] max-md:w-auto max-md:h-[100%]"
      />
    </div>
    <form
      class="flex flex-col gap-5"
      [formGroup]="customerForm"
      (submit)="submit()"
    >
      <div class="flex flex-col gap-3">
        <label for="firstname" class="text-sm font-medium">Firstname</label>
        <input
          type="text"
          id="firstname"
          placeholder="Enter the first name"
          formControlName="firstName"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg focus:border-regal-blue focus:border transition"
        />
        <small
          class="text-red-500"
          *ngIf="
            getControl('firstName')?.hasError('required') &&
            getControl('firstName')?.touched
          "
        >
          Firstname is required
        </small>
      </div>
      <div class="flex flex-col gap-3">
        <label for="lastname" class="text-sm font-medium">Lastname</label>
        <input
          type="text"
          id="lastname"
          placeholder="Enter the last name"
          formControlName="lastName"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg focus:border-regal-blue focus:border transition"
        />
        <small
          class="text-red-500"
          *ngIf="
            getControl('lastName')?.hasError('required') &&
            getControl('lastName')?.touched
          "
        >
          Lastname is required
        </small>
      </div>
      <div class="flex flex-col gap-3">
        <label for="email" class="text-sm font-medium">Email</label>
        <input
          type="email"
          id="email"
          placeholder="Enter the email address"
          formControlName="email"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg focus:border-regal-blue focus:border transition"
        />
        <small
          class="text-red-500"
          *ngIf="
            getControl('email')?.hasError('required') &&
            getControl('email')?.touched
          "
        >
          Email is required
        </small>
      </div>
      <div class="flex flex-col gap-3">
        <label for="address" class="text-sm font-medium">Address</label>
        <textarea
          type="text"
          id="address"
          placeholder="Enter the address"
          formControlName="address"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg focus:border-regal-blue focus:border transition"
        ></textarea>
        <small
          class="text-red-500"
          *ngIf="
            getControl('address')?.hasError('required') &&
            getControl('address')?.touched
          "
        >
          Address is required
        </small>
      </div>
      <div class="flex flex-col gap-3">
        <label for="amount" class="text-sm font-medium">Amount</label>
        <input
          type="number"
          id="amount"
          placeholder="Enter the amount"
          formControlName="amount"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg focus:border-regal-blue focus:border transition"
        />
        <small
          class="text-red-500"
          *ngIf="
            getControl('amount')?.hasError('required') &&
            getControl('amount')?.touched
          "
        >
          Amount is required
        </small>
      </div>
      <div class="flex flex-col gap-4">
        <label class="text-sm font-medium">Gender</label>
        <div class="flex gap-5">
          <div class="flex gap-2 items-center">
            <input
              type="radio"
              name="gender"
              id="male"
              checked
              class="accent-regal-blue"
              value="Male"
              formControlName="gender"
            />
            <label for="male" class="text-sm">Male</label>
          </div>
          <div class="flex gap-2 items-center">
            <input
              type="radio"
              name="gender"
              id="female"
              value="Female"
              class="accent-regal-blue"
              formControlName="gender"
            />
            <label for="female" class="text-sm">Female</label>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <label class="text-sm font-medium">Account type</label>
        <div class="flex gap-5">
          <div class="flex gap-2 items-center">
            <input
              type="radio"
              name="accountType"
              id="saving"
              checked
              class="accent-regal-blue"
              value="saving"
              formControlName="accountType"
            />
            <label for="saving" class="text-sm">Saving</label>
          </div>
          <div class="flex gap-2 items-center">
            <input
              type="radio"
              name="accountType"
              id="checking"
              value="checking"
              class="accent-regal-blue"
              formControlName="accountType"
            />
            <label for="checking" class="text-sm">Checking</label>
          </div>
        </div>
      </div>
      <div class="flex justify-between mt-5 flex-wrap gap-4">
        <button
          class="secondary-btn border-2 border-regal-blue text-regal-blue"
          type="reset"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="primary-btn disabled:opacity-50"
          [disabled]="isLoading || !canSubmit()"
        >
          Add customer
        </button>
      </div>
    </form>
  </div>
</section>
