<section
  class="p-maxWidth bg-[#F8F8FF] !pt-20 max-xl:p-maxWidthXl max-lg:p-maxWidthL max-md:p-maxWidthM max-sm:p-maxWidthS"
>
  <div class="grid grid-cols-2 gap-20 max-lg:grid-cols-1">
    <div>
      <h3 class="text-3xl font-bold">
        Connecting The Dots Of <br />
        <span
          class="text-4xl leading-snug font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-regal-blue"
          >Finance</span
        >
      </h3>
      <p class="mt-4 text-sm text-[#3C4275B5] font-medium">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <ul class="flex flex-col gap-2 mt-8 text-sm font-medium">
        <li class="flex gap-2 items-center">
          <div
            class="rounded-full bg-regal-blue w-3 h-3 flex justify-end items-start"
          >
            <i-bs
              name="check"
              width="0.8rem"
              height="0.8rem"
              class="text-white"
            ></i-bs>
          </div>
          Duis aute irure dolor in reprehenderit
        </li>
        <li class="flex gap-2 items-center">
          <div
            class="rounded-full bg-regal-blue w-3 h-3 flex justify-end items-start"
          >
            <i-bs
              name="check"
              width="0.8rem"
              height="0.8rem"
              class="text-white"
            ></i-bs>
          </div>
          do eiusmod tempor incididunt ut
        </li>
        <li class="flex gap-2 items-center">
          <div
            class="rounded-full bg-regal-blue w-3 h-3 flex justify-end items-start"
          >
            <i-bs
              name="check"
              width="0.8rem"
              height="0.8rem"
              class="text-white"
            ></i-bs>
          </div>
          Professional Support User
        </li>
      </ul>
      <div class="flex mt-8 gap-6">
        <h5 class="text-sm font-bold">
          <span
            class="text-2xl leading-snug font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-regal-blue"
            >89%</span
          >
          Interest
        </h5>
        <h5 class="text-sm font-bold">
          <span
            class="text-2xl leading-snug font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-regal-blue"
            >92%</span
          >
          Successful Payments
        </h5>
      </div>
    </div>
    <div class="relative flex items-start justify-center">
      <img
        src="../../../../../assets/images/mobileMockup03-805x1536.png"
        class="w-[40%] -rotate-12"
      />
      <img
        src="../../../../../assets/images/dashboardBlock05.png"
        class="absolute top-[30%] w-32 drop-shadow-xl right-[20%]"
      />
      <img
        src="../../../../../assets/images/dashboardBlock03.png"
        class="absolute top-[50%] w-52 drop-shadow-xl left-[10%]"
      />
    </div>
  </div>
</section>
