<section class="p-maxWidth pt-32 bg-[#F8F8FF] text-white">
  <div class="bg-dark-bg rounded-xl px-10 py-20 grid grid-cols-2 gap-10">
    <div class="relative flex justify-center items-center">
      <img
        src="../../../../../assets/images/mobileMockup02-800x1744.png"
        class="absolute h-[250%]"
      />
      <img
        src="../../../../../assets/images/dashboardBlock05.png"
        class="absolute w-36 drop-shadow-lg left-[20%] top-[10%]"
      />
    </div>
    <div>
      <h3 class="text-2xl font-semibold">Download On Playstore</h3>
      <p class="text-sm mt-4">
        We're constantly improving our trading platform, trying to make it the
        best on the market.
      </p>
      <img
        src="../../../../../assets/images/google-play-badge.png"
        class="mt-5 w-52"
      />
    </div>
  </div>
</section>
