<nav class="py-10 px-16 flex justify-between border-b shadow-sm">
  <input
    type="text"
    placeholder="Search..."
    class="min-w-[300px] w-[400px] text-sm bg-gray-50 px-5 py-2 rounded-xl"
  />
  <div class="flex items-center gap-6 text-gray-500">
    <i-bs name="bell" width="1rem" height="1rem"></i-bs>
    <i-bs name="chat-dots" width="1rem" height="1rem"></i-bs>
    <div class="flex gap-3 items-center">
      <img
        src="../../../../../assets/images/profil.png"
        class="rounded-full w-9 h-9"
      />
      <div class="flex flex-col">
        <h6 class="font-semibold text-xs text-gray-600">Hi Admin</h6>
        <p class="text-[10px]">admin@gmail.com</p>
      </div>
    </div>
  </div>
</nav>
