<footer
  class="p-maxWidth bg-dark-bg mt-32 !py-5 flex justify-between text-white max-xl:p-maxWidthXl max-lg:p-maxWidthL max-md:p-maxWidthM max-sm:p-maxWidthS max-md:flex-col max-md:gap-5 max-md:items-center"
>
  <p class="text-sm font-medium max-md:text-center">
    ©SBank, All rights reserved, Product by wpaper agency
  </p>
  <div class="flex gap-4">
    <i-bs name="facebook" width="1rem" height="1rem" class="text-white"></i-bs>
    <i-bs name="github" width="1rem" height="1rem" class="text-white"></i-bs>
    <i-bs name="instagram" width="1rem" height="1rem" class="text-white"></i-bs>
  </div>
</footer>
