<nav class="fixed p-maxWidth w-full py-8 text-white bg-dark-bg z-10">
  <div class="flex justify-between">
    <div class="flex items-center grow w-56">
      <img
        src="../../../assets/images/sitelogo-300x58.png"
        alt=""
        class="h-7"
      />
    </div>
    <ul class="flex items-center justify-center gap-10 grow text-sm font-medium">
      <li>Home</li>
      <li>About</li>
      <li>Pricing</li>
      <li>How it works</li>
      <li>Contact</li>
    </ul>
    <div class="flex gap-6 grow w-56 justify-end">
      <button class="primary-btn">Get started</button>
      <button class="secondary-btn">Sign Up</button>
    </div>
  </div>
</nav>
