<section class="py-8 px-16">
  <h3 class="text-xl font-semibold">Customer</h3>
  <div class="grid grid-cols-2 gap-16 mt-20">
    <div class="relative flex justify-center">
      <img
        src="../../../../../assets/images/profil-lg.png"
        class="absolute rounded-full w-[80%]"
      />
    </div>
    <div class="flex flex-col gap-5" *ngIf="customer">
      <div class="flex flex-col gap-3">
        <label for="firstname" class="text-sm font-medium">Firstname</label>
        <input
          type="text"
          id="firstname"
          readonly
          [value]="customer.firstName"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg"
        />
      </div>
      <div class="flex flex-col gap-3">
        <label for="lastname" class="text-sm font-medium">Lastname</label>
        <input
          type="text"
          id="lastname"
          readonly
          [value]="customer.lastName"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg"
        />
      </div>
      <div class="flex flex-col gap-3">
        <label for="email" class="text-sm font-medium">Email</label>
        <input
          type="email"
          id="email"
          readonly
          [value]="customer.email"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg"
        />
      </div>
      <div class="flex flex-col gap-3">
        <label for="gender" class="text-sm font-medium">Gender</label>
        <input
          type="text"
          id="gender"
          readonly
          [value]="customer.gender"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg"
        />
      </div>
      <div class="flex flex-col gap-3">
        <label for="address" class="text-sm font-medium">Gender</label>
        <textarea
          type="text"
          id="address"
          readonly
          [value]="customer.gender"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg"
        ></textarea>
      </div>
      <div class="flex justify-end mt-5">
        <button class="primary-btn" (click)="navigateToCustomerList()">
          Back to list
        </button>
      </div>
    </div>
  </div>
</section>
