<section class="py-8 px-16 max-lg:px-8 max-[400px]:px-4">
  <h3 class="text-xl font-semibold">Customer details</h3>
  <div
    class="grid grid-cols-2 gap-16 mt-20 max-md:grid-cols-1 max-md:grid-rows-[200px_auto] max-md:mt-10 max-md:gap-8"
  >
    <div class="relative flex justify-center">
      <img
        src="../../../../../assets/images/profil-lg.png"
        class="absolute rounded-full w-[80%] max-md:w-auto max-md:h-[100%]"
      />
    </div>
    <div class="flex flex-col gap-5" *ngIf="customer">
      <div class="flex flex-col gap-3">
        <label for="firstname" class="text-sm font-medium">Firstname</label>
        <input
          type="text"
          id="firstname"
          readonly
          [value]="customer.firstName"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg focus:border-regal-blue focus:border transition"
        />
      </div>
      <div class="flex flex-col gap-3">
        <label for="lastname" class="text-sm font-medium">Lastname</label>
        <input
          type="text"
          id="lastname"
          readonly
          [value]="customer.lastName"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg focus:border-regal-blue focus:border transition"
        />
      </div>
      <div class="flex flex-col gap-3">
        <label for="email" class="text-sm font-medium">Email</label>
        <input
          type="email"
          id="email"
          readonly
          [value]="customer.email"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg focus:border-regal-blue focus:border transition"
        />
      </div>
      <div class="flex flex-col gap-3">
        <label for="address" class="text-sm font-medium">Address</label>
        <textarea
          type="text"
          id="address"
          readonly
          [value]="customer.address"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg focus:border-regal-blue focus:border transition"
        ></textarea>
      </div>
      <div class="flex flex-col gap-3">
        <label for="amount" class="text-sm font-medium">Amount</label>
        <input
          type="number"
          id="amount"
          [value]="customer.amount"
          readonly
          formControlName="amount"
          class="bg-transparent border border-gray-300 text-xs px-4 py-3 rounded-lg focus:border-regal-blue focus:border transition"
        />
      </div>
      <div class="flex flex-col gap-4">
        <label class="text-sm font-medium">Gender</label>
        <div class="flex gap-5">
          <div class="flex gap-2 items-center">
            <input
              type="radio"
              name="gender"
              id="male"
              disabled
              class="accent-regal-blue disabled:!accent-regal-blue dark:accent-regal-blue"
              [checked]="customer.gender === 'Male'"
            />
            <label for="male" class="text-sm">Male</label>
          </div>
          <div class="flex gap-2 items-center">
            <input
              type="radio"
              name="gender"
              id="female"
              disabled
              [checked]="customer.gender === 'Female'"
              class="accent-regal-blue disabled:!accent-regal-blue dark:accent-regal-blue"
            />
            <label for="female" class="text-sm">Female</label>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <label class="text-sm font-medium">Account type</label>
        <div class="flex gap-5">
          <div class="flex gap-2 items-center">
            <input
              type="radio"
              name="accountType"
              id="saving"
              disabled
              class="accent-regal-blue"
              [checked]="customer.accountType === 'saving'"
            />
            <label for="saving" class="text-sm">Saving</label>
          </div>
          <div class="flex gap-2 items-center">
            <input
              type="radio"
              name="accountType"
              id="checking"
              disabled
              class="accent-regal-blue"
              [checked]="customer.accountType === 'checking'"
            />
            <label for="checking" class="text-sm">Checking</label>
          </div>
        </div>
      </div>
      <div class="flex justify-end mt-5 flex-wrap gap-4">
        <button class="primary-btn" (click)="navigateToCustomerList()">
          Back to list
        </button>
      </div>
    </div>
  </div>
</section>
