<section class="bg-dark-bg text-white">
  <div class="p-maxWidth">
    <div
      class="flex justify-between items-center bg-regal-blue rounded-xl py-14 px-20"
    >
      <div>
        <h3 class="text-3xl font-bold">Get The Desktop Version</h3>
        <p class="text-sm mt-4">
          We're constantly improving our trading platform, trying to make it the
          best on the market.
        </p>
      </div>
      <div>
        <button class="primary-btn bg-white text-regal-blue font-semibold">
          Download Now
        </button>
      </div>
    </div>
  </div>
  <div class="relative pt-20 text-center bg-hero bg-cover bg-bottom pb-20 z-[1]">
    <div class="absolute bg-[#F8F8FF] w-full h-[40%] left-0 bottom-0 -z-[1]"></div>
    <h3 class="text-3xl leading-snug font-semibold">
      Online Banking In A Way That Is
      <span
        class="text-4xl leading-snug font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-regal-blue"
        >SuperCharged</span
      >
    </h3>
    <p class="text-sm mt-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <p class="text-sm mt-8 font-semibold">
      50% Off For Your Brand New Account In Finden
      <span
        class="leading-snug font-bold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 to-regal-blue"
        >Sign Up Today</span
      >
    </p>
    <div class="flex justify-center mt-20">
      <img
        src="../../../../../assets/images/dashboard.png"
        alt=""
        class="rounded-xl max-w-[70%] drop-shadow-xl"
      />
    </div>
  </div>
</section>
