<section
  class="p-maxWidth w-full h-[110vh] bg-hero bg-dark-bg text-white max-xl:p-maxWidthXl max-xl:py-8 max-lg:p-maxWidthL max-lg:py-8 max-md:p-maxWidthM max-md:py-8 max-sm:p-maxWidthS max-sm:py-8 max-lg:h-auto"
>
  <div
    class="grid grid-cols-2 h-full items-center gap-20 max-lg:grid-cols-1 max-lg:grid-rows-[1fr_40vh] max-lg:gap-5"
  >
    <div class="max-lg:pt-32">
      <h3 class="text-4xl leading-snug font-semibold max-md:text-2xl">
        Online Banking In <br />
        A Way That Is
      </h3>
      <h3
        class="text-6xl leading-snug font-semibold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 max-md:text-4xl to-regal-blue"
      >
        SuperCharged
      </h3>
      <p class="mt-6 leading-relaxed max-lg:text-sm">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <div class="flex gap-5 mt-10">
        <button class="primary-btn" (click)="navigateToSignin()">
          Start Now
        </button>
        <button class="secondary-btn">Learn More</button>
      </div>
      <p class="mt-6 text-sm">
        50% Off For Your Brand New Account In Finden
        <span class="text-regal-blue font-semibold"> Sign Up Today</span>
      </p>
    </div>
    <div
      class="relative flex flex-col items-end justify-start max-lg:items-center"
    >
      <img src="../../../../../assets/images/card.png" class="w-3/4" />
      <img
        src="../../../../../assets/images/dashboardBlock02.png"
        class="absolute h-60 -bottom-1/3 -right-5 max-lg:hidden"
      />
      <img
        src="../../../../../assets/images/block3.png"
        class="absolute h-48 -bottom-1/3 right-52 max-lg:hidden"
      />
      <div
        class="absolute rounded py-5 px-8 top-3/4 bg-regal-blue left-10 flex flex-col items-center justify-center max-lg:hidden"
      >
        <i-bs name="person-plus" width="2.5rem" height="2.5rem"></i-bs>
        <h3 class="font-semibold text-2xl mt-2">+ 45 M</h3>
        <p class="text-xs">Users Globally</p>
      </div>
    </div>
  </div>
</section>
